<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand"> ZANACO BANK LIMITED</a>
    <div class="navbar-nav mr-auto">

      <li class="nav-item">
        <a routerLink="banks" class="nav-link"> List of Bankers at ZANACO</a>
      </li>
      <li class="nav-item">
        <a routerLink="addbanker" class="nav-link">Add new Banker</a>
      </li>
      
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
