<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"  class="form-control"
          placeholder="Search by title"   [(ngModel)]="name1"/>
        <div class="input-group-append">
          <button  class="btn btn-outline-secondary" type="button"
            (click)="searchName()" > Search</button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Zanaco Bankers POST List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"  *ngFor="let banker of bankers; let i = index"
          [class.active]="i == currentIndex" (click)="setBankerActive(banker, i)" >
          {{ banker.name1 }}  {{ banker.salary }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="deleteAllBankers()">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <div *ngIf="activeBanker">
        <h4>Active ZANACO Bankers</h4>
        <div> <label><strong>namel:</strong></label> {{ activeBanker.name1 }} </div>
        <div> <label><strong>deptl:</strong></label>{{ activeBanker.dept }}</div>
        <div> <label><strong>postl:</strong></label> {{ activeBanker.post }} </div>
        <div> <label><strong>salaryl:</strong></label>{{ activeBanker.salary }}</div>
    
        <div>
          <label><strong>Status:</strong></label>
          {{ activeBanker.published ? "Published" : "Pending" }}
        </div>
  
        <a class="badge badge-warning" routerLink="/banks/{{ activeBanker.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!activeBanker">
        <br />
        <p>Please click on a Bankers name...</p>
      </div>
    </div>
  </div>

  <br>
<header class="masthead bg-primary text-white text-center">
  <div class="container"><br>
    <h2 class="text-uppercase mb-0"> DETAILS OF BANKERS </h2>
    <hr class="star-light">
  </div>
</header>
<div class="container">
  <table class="table table-striped">
    <thead>
      <th>Id</th>
      <th>Name</th>
      <th>Position</th>
      <th>dept</th>
      <th>salary</th>
      <th>Status </th>
      <th colspan="2">Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let worker of bankers">
        <td>{{worker.id}}</td>
        <td>{{worker.name1}}</td>
        <td>{{worker.post}}</td>
        <td>{{worker.dept}}</td>
        <td>{{worker.salary}}</td>
        <td>{{worker.published}}</td>
        <td>
          <button class="btn btn-danger" (click)="editBanker(worker)">Add</button>
          <button class="btn btn-danger" (click)="editBanker(worker)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="addBanker()">Add new entry to the Room</button>

</div>
<br><br>
  